.idea/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
composer.lock
*.bat
web/assets/external/
*.php~
app/SymfonyRequirements.php
app/check.php
web/config.php
web/uploads/
phpunit.phar
web/css/
app/Resources/node_modules/
web/js/
app/Resources/uglifycss
app/Resources/uglifycss.cmd
app/Resources/uglifyjs
app/Resources/uglifyjs.cmd
