.activity {
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.activity-date {font-size: 0.8em;}
.activity-top {padding: 10px 0;}
.activity-top {padding: 10px 0;}
.activity-top > div:first-child {
    padding-right: 0;
}
.activity-middle {
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 10px;
}
.activity-middle p {margin: 0;}
.activity-bottom {padding: 10px;}
.alert.alert-comment {
    padding: 5px 10px;
    opacity: 0.8;
}
.alert.alert-no-activity {
    padding: 5px 10px;
    margin: 0;
    opacity: 0.8;
}
.activity-comments {
    border-top:1px solid #ddd;
    padding: 10px;
}
.activity-comments .media {
    border-bottom:1px solid #ddd;
}
.activity-comments .media:last-child {
    border-bottom: none;
}
.activity-add-comment {
    border-top:1px solid #ddd;
    padding: 10px;
}
.activity-add-comment textarea {
    max-width: 100%;
    resize: none;
}
.activity-add-comment button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.activity-image {width: 100%}

.activity-form {
    padding-right: 35px;
    margin: 0 0 5px 0;
}
.activity-form-body textarea{
    resize: none;
    border: none;
    padding-bottom: 20px;
    background: white;
}
.activity-form-body  .row:first-child  div:first-child {
    padding-left: 0;
}
.activity-form-body textarea:focus{box-shadow: none !important;}
.activity-form-body .btnAddPicture {
    color: lightgrey;
    cursor: pointer;
}
.activity-form-body #btnSubmitNewActu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: lightgray 2px solid;
    color: lightgray;
}
.activity-form-body #btnAddPictures {
    position: absolute;
    bottom: 18px;
    right: 75px;
}
.activity-form-body .imgNewActu {
    max-width: 100%;
    height: 100%;
}
#image-preview-input {
    margin-bottom: 15px;
}