{% extends 'SBActivityBundle:activity:layout_activity.html.twig' %}

{% block activity_list %}
    {% for activity in list_activity %}
        {% if app.request.get('_route') == 'sb_core_homepage' %}
            {% block accueil %}
                <div class="col-md-8 activity" data-activity="{{ activity.id }}">
                    {% include('SBActivityBundle:activity:view_activity.html.twig') %}
                </div>
            {% endblock accueil %}
        {% elseif app.request.get('_route') == 'sb_user_profil' %}
            {% block profil %}
                <div class="col-md-12 activity" data-activity="{{ activity.id }}">
                    {% include('SBActivityBundle:activity:view_activity.html.twig') %}
                </div>
            {% endblock profil %}
        {% endif %}
    {% endfor %}
{% endblock activity_list %}