
{% block activity_list %}
    <div class="row">
        {% block accueil %}
        {% endblock accueil %}
        {% block profil %}
        {% endblock profil %}
    </div>
{% endblock activity_list %}
