{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='?uglifycss' filter='cssrewrite'
    'bundles/sbactivity/css/activity.css'
    'assets/external/libs/animate.css/animate.min.css'
    'assets/external/libs/angular-send-feedback/dist/angular-send-feedback.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block js %}
    {% endblock js %}
{% endblock javascripts %}

{% block content %}
    {% include 'SBCoreBundle::navbar.html.twig' %}
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
    <ui-view class="ng-scope">
        <angular-feedback options="options" class="ng-scope ng-isolate-scope"></angular-feedback>
    </ui-view>
{% endblock content %}
