{% extends 'SBCoreBundle::layout.html.twig' %}

{% block title %}
    Mon profil -
{% endblock title %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <img src="#" alt="cover">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9"></div>
        </div>
    </div>
{% endblock body %}