<span class="sr-only nb-comments">{{ nb_comments }}</span>
{% for comment in comments %}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle"
                     src="https://dummyimage.com/40x40/c9c9c9/000000" alt="..." >
            </a>
        </div>
        <div class="media-body">
            <b class="media-heading">{{ comment.user.username }}</b>
            <p>{{ comment.text }}</p>
        </div>
    </div>
{% else %}
    <div class="alert alert-info alert-comment no-margin">
        <p>Aucun commentaire</p>
    </div>
{% endfor %}