{% extends 'SBCoreBundle::layout.html.twig' %}

{% block title %}
    Membre -
{% endblock title %}

{% block js %}
    {% javascripts filter='?uglifyjs2'
        'http://localhost:3000/faye/client.js'
        'assets/external/libs/angular/angular.min.js'
        'assets/external/libs/angular-send-feedback/dist/angular-send-feedback.min.js'
        'assets/external/libs/autogrow-textarea/jquery.autogrowtextarea.min.js'
        'assets/external/libs/remarkable-bootstrap-notify/bootstrap-notify.min.js'
        'assets/external/libs/waypoints/lib/jquery.waypoints.min.js'
        'assets/app/js/app.js'
        'bundles/sbuser/js/user.js'
        'bundles/sbactivity/js/activities.js'
        'bundles/sbactivity/js/likes.js'
        'bundles/sbactivity/js/comments.js'
        'bundles/sbactivity/js/activity.js'
        'bundles/sbactivity/js/all-activity.js'
        'assets/app/js/feedback.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock js %}

{% block body %}
    <div class="col-md-4 activity-form">
        <div class="row">
            {% include('SBActivityBundle:activity:form_add.html.twig') %}
        </div>
    </div>
    <div class="col-md-8" id="container-activity" data-total-ativity="{{ number_of_activity }}">
        {% include('SBActivityBundle:activity:activity.html.twig') %}
    </div>
{% endblock body %}
