{% extends 'SBCoreBundle::layout.html.twig' %}

{% block title %}
    Membre -
{% endblock title %}

{% block js %}
    <script src="{{ asset('assets/app/js/all-activity.js') }}"></script>
{% endblock js %}

{% block body %}
    <div class="col-md-4 activity-form">
        <div class="row">
            {% include('SBActivityBundle:activity:form_add.html.twig') %}
        </div>
    </div>
    <div class="col-md-8" id="container-activity" data-total-ativity="{{ number_of_activity }}">
        {% include('SBActivityBundle:activity:activity.html.twig') %}
    </div>
{% endblock body %}