{% extends 'SBCoreBundle::layout.html.twig' %}

{% block title %}
    Accueil -
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <p>Connectez-vous !</p>
        </div>
    </div>
{% endblock body %}
